{% extends "base.html" %}


{% block title %}
Update Your Todo
{% endblock title %}

{% block body %}

<div class="container my-3">
<h2 class="my-4" >Update Todo</h2>
  <form action="/Edit/{{Todo.sno}}" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="title" value="{{Todo.title}}" placeholder="Edit To Do Task" >
    
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="desc" value="{{Todo.desc}}" placeholder="EditTask Details">
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>

{% endblock body %}